<% layout('layout_projects') -%> <br />
<div class="ui center aligned stackable grid container">
  <div class="row">
    <div id="jLightroom" class="jlr">
      <% for(var i=0; i < developments.length; i++) { %>
      <div class="image">
        <div class="ui inverted dimmer">
          <div
            class="content"
            id="<%= developments[i].id %>"
            data-toggle="modal"
            data-target="#<%= developments[i].id %>-modal"
          >
            <h1><%= developments[i].name %></h1>
            <br />
            <h3><%= developments[i].location %></h3>
            <h3><%= developments[i].type %></h3>
          </div>
        </div>
        <img class="ui image" src="/images/<%= developments[i].image %>" />
      </div>

      <% }%>
    </div>
  </div>
  <% for(var i=0; i < developments.length; i++) { %>

  <div id="<%= developments[i].id %>-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><%= developments[i].name %></h4>
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <img
            class="ui image"
            src="/images/<%= developments[i].image %>"
            style="width: 80%"
          />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <% }%>

  <!-- <div class="image">
        <div class="ui inverted dimmer"><div class="content"></div></div>
        <img class="ui image" src="../images/geneva_hughes.png" />
      </div>
      <div class="image">
        <div class="ui inverted dimmer"><div class="content"></div></div>
        <img class="ui image" src="../images/geneva_hughesNorth.png" />
      </div>
      <div class="image">
        <div class="ui inverted dimmer"><div class="content"></div></div>
        <img class="ui image" src="../images/geneva_pacific.png" />
      </div>
      <div class="image">
        <div class="ui inverted dimmer"><div class="content"></div></div>
        <img class="ui image" src="../images/geneva_venice.png" />
      </div>
      <div class="image">
        <div class="ui inverted dimmer"><div class="content"></div></div>
        <img class="ui image" src="../images/micropolitan_miracle.png" />
      </div>
      <div class="image">
        <div class="ui inverted dimmer"><div class="content"></div></div>

        <img class="ui image" src="../images/micropolitan_larchmont.png" />
      </div>
      <div class="image">
        <div class="ui inverted dimmer"><div class="content"></div></div>
        <img class="ui image" src="../images/about-hero-image.png" />
      </div> -->
</div>
